.auth-container {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 40px;
}

.auth-box {
  background: #0f172a;
  padding: 40px;
  width: 380px;
  border-radius: 14px;
  text-align: center;
  border: 1px solid #1f2937;
  box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.auth-box h2 {
  margin-bottom: 10px;
}

/* Inputs */
input {
  width: 92%;
  padding: 12px;
  margin: 8px 0 12px;
  border-radius: 8px;
  background: #020617;
  border: 1px solid #1f2937;
  color: white;
}

input:focus {
  outline: none;
  border: 1px solid #2dd4bf;
}

/* Button */
.auth-btn {
  width: 95%;
  padding: 12px;
  border-radius: 10px;
  background: #2dd4bf;
  border: none;
  margin-top: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
}

.auth-btn:hover {
  transform: translateY(-2px);
}

.auth-box p {
  margin-top: 15px;
  color: #cbd5e1;
}

.auth-box a {
  color: #5c7cfa;
}
